.body {
    display: flex;
    flex-direction: column;
    justify-content:center; 
    align-content: center;
    align-items: center;
}
.header {
    width: 1220px;
    height: 65px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 53px;
    margin-left: 350px;
}


.logo {
    width: 200px;
    height: 38px;

}
.main-navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 825px;
    height: 65px;
}
.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 641px;
    height: 65px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400px;
    
    
}
.button {
    width: 184px;
    height: 65px;
    background-color: #6B77E5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cabin', sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    
    
    
}
.main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    gap: 16px;
    margin-top: 254px;
    
}
.title-box {
    width: 283px;
    height: 86px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    


}
.section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 41px;
    

}
.title1 {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}
.title2 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
}
.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 1220px;
    height: 383px;
    gap: 31px;
    margin-left: 350px;
    margin-top: 26px;
}
.box1 {
    width: 386px;
    height: 383px;
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 37px;


}
.content-title {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: #37393F;
    text-align: center;
}
.content-paragraph {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: #7D7D7D;
    text-align: center;
}
.content-title2 {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: #6B77E5;

}
.box2 {
    width: 386px;
    height: 383px;
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 37px;

}
.box3 {
    width: 386px;
    height: 383px;
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 37px;
}
.div-icon {
    width: 72px;
    height: 72px;
    background-color: #40DDB6;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.div-icon2 {
    width: 72px;
    height: 72px;
    background-color: #6B77E5;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.icon-image {
    
    width: 43px;
    height: 43px;
    
}
.icon-image2 {
    
    width: 43px;
    height: 43px;
    
}
.container-image{
    position: relative;

}
.image {
    width: 1920px;
    height: 557px;
    position: relative;
    

}
.image-content {
    width: 511px;
    height: 159px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}
.short {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    text-align: center;
}
.Presentation {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    text-align: center;
    
}
.container-p {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    text-align: center;
}
.team {
    width: 1220px;
    height: 659px;
    margin-top: 130px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.section-title {
    display: flex;
    flex-direction: row;
    flex-direction: column;
    margin-top: 150px;
    gap: 16px;
}
.section-image {
    width: 1220px;
    height: 532px;
    gap: 31px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    
}
.team-title {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    text-align: center;
}
.team-title2 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    text-align: center;
}
.image-natasha {
    width: 386px;
    height: 532px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
.section-image-box1 {
    width: 341px;
    height: 114px;
    position: absolute;
    background-color:  #FFFFFF;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
   
}
